<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-34fe{background-color:#c0c0c0;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-5ztr{background-color:#cbcefb;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-lto5{background-color:#f8a102;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-xbi9{background-color:#9b9b9b;border-color:inherit;color:#000000;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-969i{background-color:#ffffc7;border-color:inherit;font-style:italic;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-rleq{background-color:#68cbd0;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-x6qq{background-color:#dae8fc;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-706m{background-color:#009901;border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-34fe"><span style="font-weight:bold">Time</span><br><span style="font-weight:bold">CT</span></th>
    <th class="tg-34fe"><span style="font-weight:bold">Monday</span><br><span style="font-weight:bold">(6/6)</span></th>
    <th class="tg-34fe"><span style="font-weight:bold">Tuesday</span><br><span style="font-weight:bold">(6/7)</span></th>
    <th class="tg-34fe"><span style="font-weight:bold">Wednesday</span><br><span style="font-weight:bold">(6/8)</span></th>
    <th class="tg-34fe"><span style="font-weight:bold">Thursday</span><br><span style="font-weight:bold">(6/9)</span></th>
    <th class="tg-34fe"><span style="font-weight:bold">Friday</span><br><span style="font-weight:bold">(6/10)</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-5ztr">8:00 AM</td>
    <td class="tg-0pky">Pick up ID, FAC. <br>Travel to TACC<br>* Meet @ Lobby, <br>Breakfast Sponsored by TACC</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">Travel to TACC</span><br><span style="font-weight:400;font-style:normal;text-decoration:none">*</span>Meet @ ACB Lobby, <br><span style="font-weight:400;font-style:normal">Breakfast Sponsored by TACC</span></td>
  </tr>
  <tr>
    <td class="tg-5ztr">9:00 AM</td>
    <td class="tg-0pky"><span style="font-weight:bold">Welcome and Ice-breaker</span></td>
    <td class="tg-rleq"><span style="font-weight:bold">Introduction to Linux</span></td>
    <td class="tg-rleq" rowspan="2"><span style="font-weight:bold;font-style:normal">Object Oriented Python</span></td>
    <td class="tg-rleq" rowspan="3"><span style="font-weight:bold;font-style:normal">Python</span><br><span style="font-weight:bold;font-style:normal">Pandas/Matplotlib</span></td>
    <td class="tg-lto5"><span style="font-weight:bold;font-style:normal">Hack@TACC Challenge</span><br><span style="font-weight:bold;font-style:normal">Group Work, TACC Prepare for presentations,</span></td>
  </tr>
  <tr>
    <td class="tg-5ztr">10:00 AM</td>
    <td class="tg-0pky"><span style="font-weight:bold">Program Overview</span><br>Rosalia Gomez</td>
    <td class="tg-rleq" rowspan="2"><span style="font-weight:bold;font-style:normal">Intro to Python</span></td>
    <td class="tg-lto5" rowspan="2"><span style="font-weight:bold;font-style:normal">Hack@TACC Challenge</span><br><span style="font-weight:bold;font-style:normal">Presentations, TACC (Github Repo with Code and Presentation)</span></td>
  </tr>
  <tr>
    <td class="tg-5ztr">11:00 AM</td>
    <td class="tg-0pky"><span style="font-weight:bold">Introduction to Research Methodology</span><br>Anne Bowen</td>
    <td class="tg-lto5"><span style="font-weight:bold;font-style:normal">Hack@TACC Challenge </span><br><span style="font-weight:bold;font-style:normal">Group Topic</span></td>
  </tr>
  <tr>
    <td class="tg-5ztr">12:00 AM</td>
    <td class="tg-969i">Lunch Sponsored by TACC</td>
    <td class="tg-969i">Break</td>
    <td class="tg-969i" rowspan="2">Break</td>
    <td class="tg-969i" rowspan="2">Break</td>
    <td class="tg-969i">Lunch Sponsored by TACC</td>
  </tr>
  <tr>
    <td class="tg-5ztr">1:00 PM</td>
    <td class="tg-0pky">TACC Data Center Tour</td>
    <td class="tg-rleq" rowspan="2"><span style="font-weight:bold">Python DeepDive</span></td>
    <td class="tg-fymr"><span style="font-weight:bold;font-style:normal">Research Development Plans with Mentor</span></td>
  </tr>
  <tr>
    <td class="tg-5ztr">2:00 PM</td>
    <td class="tg-rleq" rowspan="2"><span style="font-weight:bold;font-style:normal">TACC Overview and Onboarding</span></td>
    <td class="tg-x6qq"><span style="font-weight:bold;font-style:normal">SRS Workshop: Grad School 101 </span><br><span style="font-weight:bold;font-style:normal;text-decoration:none">FAC </span><span style="font-weight:bold">21</span></td>
    <td class="tg-lto5" rowspan="3"><span style="font-weight:bold;font-style:normal">Hack@TACC Challenge</span><br><span style="font-weight:bold;font-style:normal">Group Work</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-5ztr">3:00 PM</td>
    <td class="tg-lto5" rowspan="2"><span style="font-weight:bold;font-style:normal">Hack@TACC Challenge </span><br><span style="font-weight:bold;font-style:normal">Group Introductions</span></td>
    <td class="tg-969i"><span style="font-weight:400;font-style:normal">Break</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-5ztr">4:00 PM</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-5ztr">5:00 PM</td>
    <td class="tg-0pky"></td>
    <td class="tg-xbi9" colspan="3"><span style="font-weight:400;font-style:normal">June 7-9: Participate </span>virtually or in-person, FAC 101B</td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-5ztr">6:00 PM</td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:italic;text-decoration:none">Student Journaling</span></td>
  </tr>
  <tr>
    <td class="tg-5ztr">7:00 PM</td>
    <td class="tg-0pky"><span style="font-style:italic">REU Pre-Survey</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-0pky"></td>
    <td class="tg-706m"><span style="font-weight:bold;font-style:normal">Pay Day</span></td>
  </tr>
</tbody>
</table>
